<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DistCL.CompilerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DistCL.CompilerSettings>
            <setting name="AgentsUpdatePeriod" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="AgentsSilenceLimit" serializeAs="String">
                <value>00:03:00</value>
            </setting>
        </DistCL.CompilerSettings>
    </userSettings>

	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpEndpoint_LocalCompiler" />
                <binding name="basicHttpEndpoint_Compiler" />
                <binding name="basicHttpEndpoint_AgentPool" />
                <binding name="basicHttpEndpoint_CompileManager" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcpEndpoint" transferMode="Streamed" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Compile/Local" binding="basicHttpBinding"
                bindingConfiguration="basicHttpEndpoint_LocalCompiler" contract="RemoteCompilerService.ILocalCompiler"
                name="basicHttpEndpoint_LocalCompiler" />
            <endpoint address="http://localhost:8733/Compile/Compiler" binding="basicHttpBinding"
                bindingConfiguration="basicHttpEndpoint_Compiler" contract="RemoteCompilerService.ICompiler"
                name="basicHttpEndpoint_Compiler" />
            <endpoint address="http://localhost:8733/Compile/AgentPool" binding="basicHttpBinding"
                bindingConfiguration="basicHttpEndpoint_AgentPool" contract="RemoteCompilerService.IAgentPool"
                name="basicHttpEndpoint_AgentPool" />
            <endpoint address="http://localhost:8733/Compile/Manager" binding="basicHttpBinding"
                bindingConfiguration="basicHttpEndpoint_CompileManager" contract="RemoteCompilerService.ICompileManager"
                name="basicHttpEndpoint_CompileManager" />
            <endpoint address="net.tcp://localhost:8734/Compile" binding="netTcpBinding"
                bindingConfiguration="netTcpEndpoint" contract="RemoteCompilerService.ICompiler"
                name="netTcpEndpoint">
                <identity>
                    <userPrincipalName value="npopov\profiler" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>