<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBindingConfiguration" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="netTcpBindingConfiguration" maxReceivedMessageSize="2147483647" transferMode="Streamed" maxBufferSize="50000000" sendTimeout="00:05:00">
					<readerQuotas maxArrayLength="656000" maxBytesPerRead="656000" maxNameTableCharCount="656000" maxStringContentLength="656000" maxDepth="32"/>
				</binding>
			</netTcpBinding>
			<netPeerTcpBinding>
				<binding name="netPeerTcpBindingConfiguration">
					<security mode="None" />
					<resolver mode="Pnrp" referralPolicy="Share" />
				</binding>
			</netPeerTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultCompileServiceBehavior">
					<serviceThrottling maxConcurrentCalls="16" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="DefaultCompileServiceBehavior" name="DistCL.Compiler">
				<endpoint address="Local" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" name="basicHttpEndpoint_LocalCompiler" contract="DistCL.ILocalCompiler">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint address="Compiler" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" name="basicHttpEndpoint_Compiler" contract="DistCL.ICompiler">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint address="AgentPool" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" name="basicHttpEndpoint_AgentPool" contract="DistCL.IAgentPool">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>

				<endpoint address="Manager" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" name="basicHttpEndpoint_CompileManager" contract="DistCL.ICompileManager">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				
				<endpoint address="mex" binding="mexHttpBinding" name="mexHttpEndpoint" contract="IMetadataExchange" />
				
				<endpoint binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" name="netTcpEndpoint" contract="DistCL.ICompiler" />

				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="mexTcpEndpoint" contract="IMetadataExchange" />
				
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Compile" />
						<add baseAddress="net.tcp://localhost:8734/Compile" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>
