<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "0.0.2" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  
  <Bundle Name="Dist CL" Version="$(var.Version)" Manufacturer="Frozen Bear" UpgradeCode="e2e0b529-2ba7-48b0-bf33-27a7d97158fe">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseUrl="http://example.com/license.html"
            LogoFile="$(var.ProjectDir)\..\Resources\FrozenBearLogo.png"
            />
    </BootstrapperApplicationRef>
    
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Frozen Bear\DistCL" />
    
    <Chain>
      <PackageGroupRef Id="NetFx45Web"/>
      
      <MsiPackage
        Id="ClientSetup"
        Compressed="yes"
        SourceFile="$(var.DistCL.Install.Client.TargetPath)"
        Vital="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]\Client" />
      </MsiPackage>    
    
      <MsiPackage
        Id="AgentSetup"
        Compressed="yes"
        SourceFile="$(var.DistCL.Install.Agent.TargetPath)"
        Vital="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]\Agent" />
      </MsiPackage>   

    </Chain>
  </Bundle>
</Wix>