<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?ifndef Version?>
  <?define Version = "0.0.2" ?>
  <?endif ?>

  <?define ProductName="DistCL Client" ?>

  <Product Name="$(var.ProductName)" Id="C1831CD2-6293-4F85-A6F6-85A0F3BBFE9A" UpgradeCode="22A2ED8B-9C15-4740-8E7F-52E71EA3A04D"
    Language="1033" Codepage="1252" Version="$(var.Version)" Manufacturer="Frozen Bear">

    <Package Id="*" Keywords="Installer" Description="DistCL Client Installer" InstallScope="perMachine"
      Manufacturer="Frozen Bear"
      InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
    
    <Media Id="1" Cabinet="DistCLClient.cab" EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="Frozen_Bear" Name="Frozen Bear">
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <Component Id="DistCL.Client.exe" Guid="613D291D-0312-465D-A73A-959BAD151F19">
              <File Id="DistCL.Client.exe" Name="DistCL.Client.exe" DiskId="1" Source="$(var.DistCL.Client.TargetPath)" KeyPath="yes" />
              <File Id="MCPP_DLLx64.dll" Name="MCPP_DLLx64.dll" DiskId="1" Source="$(var.ProjectDir)\..\..\3rdParty\MCPP_DLLx64.dll" />
              <File Id="MCPP_DLLx86.dll" Name="MCPP_DLLx86.dll" DiskId="1" Source="$(var.ProjectDir)\..\..\3rdParty\MCPP_DLLx86.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

      <Feature Id="Complete" Level="1">
        <ComponentRef Id="DistCL.Client.exe" />
      </Feature>
    </Product>
</Wix>