<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "1.0.0.0" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="DistCL" Version="$(var.Version)" Manufacturer="Bored Inc." UpgradeCode="e2e0b529-2ba7-48b0-bf33-27a7d97158fe">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />
    <WixVariable Id="WixStdbaLicenseUrl" Value="" />
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]Bored\DistCL" />

    <Chain>
      <MsiPackage
        Id="Setup"
        Compressed="yes"
        SourceFile="$(var.DistCLClient.TargetPath)"
        Vital="yes">
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]\Client" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>