<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DistCL.CompilerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <userSettings>
    <DistCL.CompilerSettings>
      <setting name="InstanceName" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="AgentsUpdatePeriod" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="AgentsSilenceLimit" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="NetworkBuildPeriod" serializeAs="String">
        <value>00:03:00</value>
      </setting>
      <setting name="AgentsFromConfigCheckPeriod" serializeAs="String">
        <value>00:10:00</value>
      </setting>
    </DistCL.CompilerSettings>
  </userSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="localNetTcpBindingConfiguration" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00" hostNameComparisonMode="Exact" />
        <binding name="remoteNetTcpBindingConfiguration" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00" />
      </netTcpBinding>
      <mexTcpBinding>
        <binding />
      </mexTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultCompileServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DefaultCompileServiceBehavior" name="DistCL.Compiler">
        <endpoint binding="netTcpBinding" bindingConfiguration="localNetTcpBindingConfiguration" name="localEndpoint" contract="DistCL.ILocalCompiler" address="net.tcp://localhost:8733/LocalCompile" />
        <endpoint binding="netTcpBinding" bindingConfiguration="remoteNetTcpBindingConfiguration" name="managerEndpoint" contract="DistCL.ICompileManager" />

        <endpoint binding="netTcpBinding" bindingConfiguration="remoteNetTcpBindingConfiguration" name="coordinatorEndpoint" contract="DistCL.ICompileCoordinator" address="CompileCoordinator" />
        <endpoint binding="netTcpBinding" bindingConfiguration="remoteNetTcpBindingConfiguration" name="agentPoolEndpoint" contract="DistCL.IAgentPool" address="AgentPool" />
        <endpoint binding="netTcpBinding" bindingConfiguration="remoteNetTcpBindingConfiguration" name="compilerEndpoint" contract="DistCL.ICompiler" address="Compiler" />

        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="mexTcpEndpoint" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8734/Compile" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="DistCL.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>

</configuration>