<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <services>
      <service name="DistCL.Compiler">
        <endpoint name="coordinatorEndpoint" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <endpoint name="agentPoolEndpoint" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <endpoint name="compilerEndpoint" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
